.App {
  text-align: center;
}

.l-sidenav {
  height: 86vh;
  width: 0vw;
  position: fixed;
  z-index: 1;
  top: 16vh;
  left: 0;
  background-color: lightgrey;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3vh;
}

.r-sidenav {
  height: 86vh;
  width: 0vw;
  position: fixed;
  z-index: 1;
  top: 16vh;
  right: 0;
  background-color: lightgrey;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3vh;
}

.sidenav-screen {
  display: none;
  height: 86vh;
  width: 100vw;
  position: fixed;
  z-index: 0;
  top: 16vh;
  background-color: black;
  opacity: 0.5;
}

.App-header {
  background-color: #282c34;
  min-height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container{
  height: 84vh;
  width: 100vw;
  font-size: 0;
}

.Left-aside {
  display: inline-block;
  *display: inline;
  inline: zoom;
  zoom: 1;
  vertical-align: top;
  width: 14vw;
  text-align: center;

  min-height: 84vh;
  background-color: grey;
}

.App-main {
  display: inline-block;
  *display: inline;
  inline: zoom;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
  width: 72vw;

  min-height: 84vh;
}

.Right-aside {
  display: inline-block;
  *display: inline;
  inline: zoom;
  zoom: 1;
  vertical-align: top;
  width: 14vw;
  text-align: center;

  min-height: 84vh;
  background-color: grey;
}

.Nav-spacer {
  min-height: 36vh;
}

.Nav-button {
  display:inline-block;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: grey;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
}

.Nav-button:hover {
  background-color: #33BFFF;
  color: white;
}

.sidenav-items {
  padding: 0;
  list-style-type: none;
  font-size: 2vmin;
}

.sidenav-items li {
  display: block;
  vertical-align: middle;
  /* padding: 4px 16px; */
  padding: .7vh;
  width: inherit;
  min-height: 4vh;
  color: #000;
  /* background-color: darkgrey; */
  line-height: 4vh;
  margin: 1vh 0 1vh 0;
}

.sidenav-links li:hover {
  background-color: #FFF;
}

.sidenav-links li:after {
  display: block;
  content: '';
  border-bottom: solid 3px #33BFFF;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.sidenav-links li:hover:after {
  transform: scaleX(1);
}

.sidenav-links li A.active{
  background-color: #FFF;
}

A {
  text-decoration: none;
}

.sb-close {
  background-color: grey;
}

.sb-close:hover {
  background-color: #33BFFF;
  color: white;
}

/* A {
  border-style: solid;
  border-color: white;
} */

/* .circle-button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: blue;
} */

/* span {
  display: inline-block;
  vertical-align: middle;
} */
